@mixin low-shadow {
  box-shadow: 1px 1px 2px #bebebe;
}

@mixin high-shadow {
  box-shadow: 0 1px 1px 1px #bebebe;
}

@mixin input-border {
  border-width: 1px;
  border-style: solid;
  border-color: $app-primary-color;
}

@mixin form-group {
  .form-group {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;

    label {
      margin-bottom: 0.5rem;
    }
  }
}

@mixin responsive-grid {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $app-sm-breakpoint) {
      @for $i from 1 to 13 {
        .col-#{$i} {
          width: calc((100% * #{$i}) / 12);
        }
      }
    }

    @media (min-width: $app-sm-breakpoint) {
      @for $i from 1 to 13 {
        .col-sm-#{$i} {
          width: calc((100% * #{$i}) / 12);
        }
      }
    }

    @media (min-width: $app-md-breakpoint) {
      @for $i from 1 to 13 {
        .col-md-#{$i} {
          width: calc((100% * #{$i}) / 12);
        }
      }
    }

    @media (min-width: $app-lg-breakpoint) {
      @for $i from 1 to 13 {
        .col-lg-#{$i} {
          width: calc((100% * #{$i}) / 12);
        }
      }
    }

    @media (min-width: $app-xl-breakpoint) {
      @for $i from 1 to 13 {
        .col-xl-#{$i} {
          width: calc((100% * #{$i}) / 12);
        }
      }
    }
  }
}

@mixin layout {
  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

@mixin tableLayout {
  @for $i from 1 to 13 {
    .wrap-#{$i} {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      max-width: calc(1rem * #{$i});
    }
  }
}
