/* App Colors */
$app-primary-color: #004c98;
$app-secondary-color: #d95452;
$app-danger-color: #eb2f38;
$app-success-color: #00984c;
$app-disabled-color: gray;
$app-warning-color: #f3d946;

$app-navbar-color: #1d2733;
$app-navbar-font-color: white;

$app-sidebar-color: #1d2733;
$app-sidebar-font-color: white;

$app-content-background-color: #f7f7f7;

$app-login-background-color: #1d2733;

$app-primary-font-color: black;
$app-secondary-font-color: white;

$app-striped-row-color: #f0e8e8;
$app-striped-row-font-color: black;

/* Responsive Grid */
$app-sm-breakpoint: 576px;
$app-md-breakpoint: 720px;
$app-lg-breakpoint: 992px;
$app-xl-breakpoint: 1200px;
